.cast {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: #232323;
    display: flex;
    align-items: flex-end;
    justify-content: center;

    @media screen and (min-width:769px) and (max-width:1023px) {
        flex-direction: column;
        align-items: center;
        height: fit-content;
    }

    h1 {
        display: none;

        @media screen and (max-width: 768px) {
            position: initial;
            display: flex;
            align-items: center;
            flex-direction: column;
            color: #A4A4A4;
        }
    }

    @media screen and (max-width: 768px) {
        position: initial;
        display: flex;
        align-items: center;
        flex-direction: column;
        color: #A4A4A4;
    }

    &__container {
        position: relative;
        height: 100%;
        width: 100%;
        display: none;

        &__img {
            height: 100%;

            @media screen and (min-width:769px) and (max-width:1023px) {
                height: 500px;
            }
        }

        &--selected {
            display: flex;
            justify-content: center;

            @media screen and (max-width: 768px) {
                display: none;
            }
        }

        &__text {
            position: absolute;
            bottom: 40%;
            left: 10%;
            display: flex;
            flex-direction: column;
            text-transform: uppercase;

            &__character {
                font-family: 'Dancing Script', cursive;
                color: #646464;
                font-size: 32px;
            }

            &__actor {
                font-family: 'Reem Kufi Fun', sans-serif;
                color: #A4A4A4;
                font-size: 48px;
            }
        }
    }

    &__selector {
        position: absolute;
        bottom: 5%;
        max-height: 350px;
        max-width: 100%;
        padding: 30px 50px;
        background-color: rgba($color: #4B4B4B, $alpha: 0.2);
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        gap: 50px;

        @media screen and (max-width: 768px) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            position: initial;
            max-height: initial;
            bottom: initial;
    
        }

        @media screen and (min-width:769px) and (max-width:1023px) {
            grid-template-columns: 1fr 1fr 1fr;
            max-height: fit-content;
            position: relative;
            margin: 16px;
        }

        &__img {
            cursor: pointer;
            max-height: 250px;
            opacity: 30%;

            @media screen and (max-width: 768px) {
                opacity: 100%;
                max-height: 150px;
                cursor: auto;
    
            }

            @media screen and (min-width:769px) and (max-width:1023px) {
                max-height: 150px;
            }

            &:hover{
                transform: scale(1.05);
                transition: transform 0.3s ease-in;
            }

            &--selected {
                opacity: 100%;
            }
        }
    }
}