.synopsis {
    width: 100vw;
    height: 100vh;
    background-color: #000000;
    display: flex;
    align-items: center;

    @media screen and (max-width:768px) {
        flex-direction: column-reverse;
        height: fit-content;
    }

    @media screen and (max-width:1023px) {
        
    }

    &__img {
        max-width: 30%;
        margin-left: 250px;

        @media screen and (max-width:768px) {
            margin-top: 24px;
            margin-left: initial;
        }

        @media screen and (max-width:1023px) {
            margin-left: 16px;
        }

        img {
            max-height: 700px;
            position: relative;
            animation: float 3s ease infinite;

            @media screen and (max-width:768px) {
                max-height: 25vh;
            }

            @media screen and (max-width:1023px) {
                max-width: 300px;
            }
        }
    }

    &__text {
        max-width: 40vw;
        margin-left: 10vw;
        align-self: flex-start;
        margin-top: 25vh;

        @media screen and (max-width:768px) {
            align-self: initial;
            max-width: initial;
            margin: 16px;
        }

        @media screen and (max-width:1023px) {
            max-width: 450px;
        }

        &__title {
            color: #a4a4a4;
            font-family: 'Roboto', sans-serif;
            font-size: 40px;
            font-weight: bold;
            text-transform: uppercase;
            margin-bottom: 40px;
        }
        &__paragraph {
            color: #a4a4a4;
            font-family: 'Roboto', sans-serif;
            font-size: 16px;
        }
    }
}

@keyframes float {
    0% {
        transform: translatey(0px);
      }
      50% {
        transform: translatey(-20px);
      }
      100% {
        transform: translatey(0px);
      }
}